{% extends 'base.html' %}
{% block title %}Login{% endblock title %}

{% block content %}
<div>
    <h2>Login</h2>
    <p>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
        
            {% if error %}
            <div>
                {{ error }}
            </div>
            {% endif %}
        
            <button type="submit">Login</button>
        </form>
        <span>
            Don't have an account? <a href="{% url 'signupaccount' %}">Sign Up</a>
        </span>
    </p>
</div>
{% endblock content %}