<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://kit.fontawesome.com/dae31c0ef6.js" crossorigin="anonymous"></script>
</head>
<body class="min-h-screen flex flex-col">
    <nav class="bg-blue-950 flex justify-between p-6">
            <span class="text-white">Event Registration</span>
            <div>
                {% if user.is_authenticated %}
                    {% if is_admin %}
                    <a class="text-white mr-5 hover:border-b hover:border-white hover:border-solid" href={% url 'users' %}>Users</a>
                    <a class="text-white mr-5 hover:border-b hover:border-white hover:border-solid" href={% url 'registrants' %}>Registrants</a>
                    {% endif %}
                    <a class="text-white mr-5 hover:border-b hover:border-white hover:border-solid" href={% url 'events' %}>Events</a>
                    <a class="text-white hover:border-b hover:border-white hover:border-solid" href={% url 'logoutaccount' %}>Logout</a>
                {% else %}
                    <a class="text-white mr-5 hover:border-b hover:border-white hover:border-solid" href="{% url 'loginaccount' %}">Login</a>
                    <a class="text-white hover:border-b hover:border-white hover:border-solid" href="{% url 'signupaccount' %}">Sign Up</a>
                {% endif %}
        </div>
    </nav>
    <main class="flex-grow bg-gray-200">
        {% block content %}{% endblock content %}
    </main>
    <footer class="bg-blue-950 text-white text-center p-4">
        Kevin Scott | Assignment 03
    </footer>
</body>
</html>